<div class="card-panel indigo" itemscope itemtype="{{ type }}" id="">
    <div class="title">
        <h4 itemprop="name">{{ title }}</h4>
        {% if additionalType %}
            <i class="grey-text">{{ additionalType }}</i>
        {% endif %}
    </div>
    <p itemprop="datePublished">
        {{ date }}
    </p>
    <p>
        {% for author in authors %}
            {% if author in rname %}
                <span itemprop="author" class="pill highlight">
                    {{ author }}
                </span>
            {% else %}
                <span itemprop="author" class="pill">
                    {{ author }}
                </span>
            {% endif %}
        {% endfor %}
    </p>
    {% if description %}
        <p itemprop="description">
            {{ description }}
        </p>
    {% endif %}
    {% if urls %}
        <div class="collection">
            {% if pdf_link %}
                <a itemprop="sameAs" class="collection-item active"
                   href="{{ pdf_link }}">
                    Get the PDF here <
                </a>
            {% endif %}
            {% for link in urls %}
                <a itemprop="sameAs" class="collection-item"
                   href="{{ link }}">
                    {{ link }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>