<div class="card blue-grey darken-1" itemscope itemtype="http://schema.org/Person">
    <div class="card-content white-text">
        <span class="card-title" itemprop="name">
            {{ researcher__name }}
        </span>
        {% if researcher_organization %}
            <ul itemprop="affiliation"
                class="collection with-header teal-text"
                itemscope itemtype="http://schema.org/Organization">
                <li class="collection-header black-text">
                    Affiliation
                </li>
                <li itemprop="name" class="collection-item">
                    {{ researcher_organization__name }}
                </li>
            </ul>
        {% endif %}
        {% if urls %}
            <div itemprop="sameAs" class="collection text-teal">
                {% for url in urls %}
                    <a class="collection-item" href="{{ url }}">
                        {{ url }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        {% if not_much_info %}
            <ul class="collection grey black-text">
                <li class="collection-item">We didn't find much information ...</li>
            </ul>
        {% endif %}
    </div>
</div>