{% load static %}
{% load staticfiles %}
<div class="row">
    <div class="col l6 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="/media/{{ filename }}">
            </div>
            <div class="card-content">
                <p>Here is a summary of their research interests.</p>
            </div>
        </div>
    </div>
    <div class="col l6 m6 s12">
        <div class="card blue">
            <div class="card-content">
                <div class="card-title">
                    Some papers they could have written together
                </div>
                <div id="invented_titles">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
