<div class="card red darken-3 white-text">
    <div class="card-content">
        <div class="card-title">Not match for {{ name }} !</div>
        But we have some suggestions:
        <div>
            {% for suggestion in suggestions %}
                <p><span class="pill">{{ suggestion }}</span></p>
            {% endfor %}
        </div>
    </div>
</div>