{% load i18n admin_static %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href={% static "materialize/css/materialize.min.css" %} media="screen,projection"/>
    <link type="text/css" href="{% static "css/style.css" %}"
          rel="stylesheet" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name=" viewport
    " content="width=device-width, initial-scale=1.0"/>
</head>

<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="{% url "home" %}">{{ "home" | upper }}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="section">
        {% block section1 %}
        {% endblock %}
    </div>
</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src={% static 'materialize/js/materialize.min.js' %}></script>
{% block extrajs %}
{% endblock %}
</body>
</html>