{% extends 'coreui/base.html' %}
{% load staticfiles %}
{% load extras %}
{% block section1 %}
    <div class="row">
        <div class="distanceDiagramOrigin col l4 m4 s4">
            <div class="chip">
                <img src="{% static "images/research-icon.png" %}"
                     alt="Researcher">
                {{ r1name }}
            </div>
        </div>
        <div class="distanceDiagramDistance col l4 m4 s4">
            <div class="value" id="distance">
                <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-yellow-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="distanceDiagramDestination col l4 m4 s4">
            <div class="chip">
                <img src="{% static "images/research-icon.png" %}"
                     alt="Researcher">
                {{ r2name }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l12 s12 m12">
            <div class="card blue lighten-4">
                <div class="card-content">
                    <div class="card-title">
                        What they have in common...
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn" id="wordcloud-activate">
                            <i class="right material-icons">
                                <div class="preloader-wrapper small active" id="papers-loading">
                                    <div class="spinner-layer spinner-green-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </i>
                            Wordcloud
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col l6 m6">
            {% pretty_researcher_info attrs1 %}
        </div>
        <div class="col l6 m6">
            {% pretty_researcher_info attrs2 %}
        </div>
    </div>
    <div id="papers">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="card-panel indigo white-text">
                    Loading publications...
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
    <script>
        data = {
            "name1": "{{ r1name }}", "name2": "{{ r2name }}",
            "url1": "{{ urlpt1 }}", "url2": "{{ urlpt2 }}",
            "fname": "{{ fname }}"
        };
        $("#distance").load("{% url "compute_distance" %}", data);
        $("#papers").load("{% url "get_papers" %}", data, function () {
            $("#papers-loading").replaceWith(
                    "cloud"
            );

            $("#wordcloud-activate").click(function () {
                        $("#wordcloud-activate").replaceWith(
                                "<div id=\"wordcloud\">" +
                                "<div class=\"progress\"><div class=\"indeterminate\"></div></div>" +
                                "</div>"
                        );
                        $("#wordcloud").load("{% url "wordcloud" %}", data, function () {
                                    $("#invented_titles").load("{% url "invented_titles" %}", data);
                                }
                        )
                    }
            );
        });
    </script>
{% endblock %}