{% extends 'coreui/base.html' %}
{% load staticfiles %}
{% load extras %}
{% block section1 %}
    <div class="row center-align">
        <div class="col s12 m6 offset-m3">
            <div class="icon-block">
                <h2 class="center grey-text">
                    <span class="chip"><img src="{% static "images/research-icon.png" %}" alt="Research"></span>
                </h2>
                <h5 class="center"> What do they have in common ?</h5>
                <p class="light">
                <div class="row">
                    <form action="{% url 'distance' %}" class="col s12" method="POST">
                        {% csrf_token %}
                        {{ distance_form.as_table }}
                        <input type="submit" value="Submit"
                               class="waves-effect waves-light btn center">
                    </form>
                </div>
                </p>
            </div>
        </div>
    </div>
    {% if got_suggestions %}
        <div class="row">
            <div class="col l6 m6 s12">
                {% if r1_not_found %}
                    {% render_suggestions r1name suggestions1 %}
                {% endif %}
            </div>
            <div class="col l6 m6 s12">
                {% if r2_not_found %}
                    {% render_suggestions r2name suggestions2 %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}