{% load extras %}
{% if coauthors %}
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="card indigo lighten-2 black-text">
                <div class="card-content">
                    <span class="card-title">Coauthored papers</span>
                    <div class="row">
                        {% for paper in coauthored_papers %}
                            <div class="col m6 l6 s12">
                                {% pretty_paper paper.get_schema %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if papers1 and papers2 %}
    <div class="row">
        <div class="col l6 m6 s12">
            <div class="card indigo darken-1 white-text">
                <div class="card-content">
                    <div class="card-title">
                        Publications from {{ r1.name }}
                    </div>
                    {% for paper in papers1 %}
                        {% pretty_paper paper.get_schema %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col l6 m6 s12">
            <div class="card indigo darken-1 white-text">
                <div class="card-content">
                    <div class="card-title">
                        Publications from {{ r2.name }}
                    </div>
                    {% for paper in papers2 %}
                        {% pretty_paper paper.get_schema %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
