nav > div > ul > li > a {
    color: #444 !important;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.minipane {
    padding: 3px;
    margin-bottom : 5px;
    border-radius: 3px;
    border: 1px solid grey;
    display: inline-block;
}

/* Distance diagram display */
.distanceDiagramOrigin, .distanceDiagramDestination, .distanceDiagramDistance {
    text-align: center;
}

.distanceDiagramDistance .value {
    display: inline-block;
    padding-top : 3px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #C62828;
    color: white;
    font-weight : bold;
    font-size: 2em;
}

.pill {
    display: inline-block;
    padding : 3px;
    margin : 2px;
    border-radius: 3px;
    background-color: #90a4ae;
    color: black;
}

.pill.highlight {
    background-color:#0091EA ;
    color: white;
}

.card-panel>.p {
    margin-top: 5px;
}